<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
    
    <bean id="studentbean" class="Student">
      <property name="rollNo" value="1"></property>
      <property name="name" value="Student"></property>
      <property name="marks" value="100"></property>
    </bean>
    
    <bean id="studentbean1" class="Student">
      <property name="rollNo" value="2"></property>
      <property name="name" value="Student1"></property>
      <property name="marks" value="99"></property>
    </bean>
    
</beans>